<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="box" id="heading">
        <h1> It's <%= heading%>!</h1>
    </div>

    <div class="box">

        <% for(var i=0;i<lists.length;i++){ %>
        <div class="item">
            <input type="checkbox">
            <p> <%=lists[i]%> </p>
        </div>
        <% } %>


        <form class="item" action="/work" method="post">
            <input type="text" name="newitem" placeholder="New task" autocomplete="off">
            <button type="submit"> + </button>
        </form>
    </div>
</body>

</html>